<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.thomasmore.project_mobile_dev"
    android:installLocation="preferExternal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_titel"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NieuweGebruiker"
            android:label="@string/title_activity_nieuwe_gebruiker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Stoornis_Klankkeuze"
            android:label="@string/title_activity_stoornis__klankkeuze"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Doelklankkeuze"
            android:label="@string/title_activity_doelklankkeuze"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MinPaarKeuze"
            android:label="@string/title_activity_min_paar_keuze"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Spel_keuze"
            android:label="@string/title_activity_spel_keuze"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ZegHetZelfEens"
            android:label="@string/title_activity_zeg_het_zelf_eens"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LuisterGoed"
            android:label="@string/title_activity_luister_goed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ZegHetZelfEensKaarten"
            android:label="@string/title_activity_zeg_het_zelf_eens_kaarten"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LuisterGoedUitleg"
            android:label="@string/title_activity_luister_goed_uitleg"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Goedgedaan"
            android:label="@string/title_activity_goedgedaan"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>